
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.bar {
    
    height: 0.25cm;
    width: 30cm;
    background-image: url(img/hr-img.png);
    margin-left:auto ;
    margin-right:auto ;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    position: fixed;
    background: gray;
    height: 80px;
    width: 100%;
    margin-top: 0;
    padding-top: 0%;
}
label.logo{
    color: yellow;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: serif; ;
}
nav ul {
    float: right;
    margin-right:20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    padding: 7px 13px;
    border-radius: 3px;
    margin: 0 5px;
}
nav ul li a{
    color: yellow;
    font-size: 17px;
    text-transform: uppercase;
}
a.active ,a:hover{
    background: black;
}
footer{
    background: gray;
    height: 100px;
    width: 100%;
    text-align: center ;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
fieldset{
    width: 500px;
        border: 5px solid black;
        padding: 50px;
        margin: 20px;      
}
button:hover{
    cursor: pointer;
    padding: 1%;
}
input:focus{
    color: yellow;
    background-color: black;
}
table{
    margin-bottom:30px ;
    margin-left: auto;
    margin-right: auto;
    height: 20cm;
}
h3{
    
    text-align:center;
    font-size: larger;
    
}
.sh{
    text-shadow: 0 0 20px yellow;
    color: white;
    font-size: 50px;
}
img{
    margin-top: 10px;
    margin-bottom: 25px ;
}
p::selection{
    background-color: yellow;
}
a::selection{
    background-color: yellow;
}







